<launch>
    <arg name="gamepad_type" default="xbox"/>
    <arg name="model_path" default="$(find aliengo_deploy)/script_model0.10.pt"/>
    <param name="gamepad_type" value="$(arg gamepad_type)"/>
    <param name="model_path" value="$(arg model_path)"/>

    <node name="gamepad_cmd" pkg="aliengo_deploy" type="gamepad_cmd.py" output="screen"
          args="$(arg gamepad_type)"/>
    <node name="aliengo_policy" pkg="aliengo_deploy" type="aliengo_policy" output="screen"/>
</launch>
